html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #FFFFFF;
}

/* Параметры scrollbar*/
::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-thumb {
	background: #C69155;
}

::-webkit-scrollbar-track {
	background-color:#10111F;
}

/* Параметры меню*/
.header_new {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	border-bottom: 3px solid #C69155;
	background: #10111F;
	z-index: 150;
}

.figure {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20%;
	height: 200px;
	clip-path: polygon(0 0, 100% 0, 100% 30%, 100% 81%, 50% 100%, 50% 100%, 0 81%, 0% 30%);
	background: #10111F;
	z-index: 20;
}

.border {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 21%;
	height: 210px;
	background: #C69155;
	clip-path: polygon(21% 71%, 66% 71%, 100% 75%, 100% 81%, 50% 100%, 50% 100%, 0 81%, 0 75%);
	z-index: 10;
}

.logo {
	position: relative;
	width: 35%;
	height: 50%;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.logo img {
	max-width: 100%;
}

.conteiner_menu_1 {
	position: relative;
	left: 10%;
	top: 5%;
	width: 28%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 30px 0;
}

.conteiner_menu_2 {
	position: absolute;
	right: 10%;
	top: 5%;
	width: 28%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 30px 0;
}

.conteiner_menu_1 li,
.conteiner_menu_2 li {
	list-style-type: none;
}

.social_conteiner {
	position: fixed;
	top: 100px;
	left: 9%;
	background: #10111F;
	border: 3px solid #C69155;
}

.social_conteiner li {
	list-style-type: none;
	align-items: center;
	justify-content: center;
	display: inline-block;
	margin: 20px 25px;
}

.social_conteiner .fab {
	font-size: calc(18px + 7 * (100vw / 1900));
	color: #C69155;
	text-shadow: 3px 3px 5px #000000;
	transition-duration: 1000ms;
}

.social_conteiner .fab:hover {
	transform: scale(1.3) rotate(1turn);
}

.social_conteiner, #soc{
    display:none;
}

#soc:checked ~ .social_conteiner{
    display: block;
}

.button_search {
	cursor: pointer;
}

.button_search .fas {
	font-size: 25px;
	color: #C69155;
	text-shadow: 3px 3px 5px #000000;
	transition-duration: 1000ms;
}

.button_search .fas:hover {
	transform: scale(1.3) rotate(1turn);
}

#search{
    display:none;
}

.icon {
	position: relative;
	cursor: pointer;
}

.icon .fas {
	font-size: calc(20px + 5 * (100vw / 1900));
	color: #C69155;
	text-shadow: 3px 3px 5px #000000;
	transition-duration: 1000ms;
	cursor: pointer;
}

.icon .fas:hover {
	transform: scale(1.3) rotate(1turn);
}

#enscart_image_wrapper { /* Параметры корзины*/
	display: none;
}

.menu {
	position: relative;
	display: flex;
	align-items: center;
}

.menu li:not(:last-child) {
	margin-right: 35px; 
}

.menu a {
	text-decoration: none;
	font-size: calc(20px + 5 * (100vw / 1900));
	color:#C69155;
	font-family: 'Rubik', sans-serif;

	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none; 
}

.menu a:hover{
	color:#F4CB93;
	padding-bottom: 5%;
	border-bottom: 1px solid #C69155;
}

.border_menu {
	padding-bottom: 5%;
	border-bottom: 1px solid #C69155;
}

/* Параметры блока mobile_menu*/
.mobile_menu {
	display: none;
}

/* Параметры блока slider*/
.slider_conteiner {
	position: relative;
	width: 100%;
	top: 100px;
	margin: 0 0 10% 0;
}

#slider input[type=radio] {
	display: none;
}

#slider label {
	text-decoration: none;
	cursor: pointer;
}

#slides {
	position: relative;
	border-top: 3px solid #C69155;
	border-bottom: 5px solid #C69155;
	z-index: 1;
} 

#overflow {
	width: 100%;
	overflow: hidden;
	background: #10111F;
}

#slide1:checked ~ #slides .inner {
	margin-left: 0;
}

#slide2:checked ~ #slides .inner {
	margin-left: -100%;
}

#slide3:checked ~ #slides .inner {
	margin-left: -200%;
}

#slides .inner {
	width: 400%;
	transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#slides .slide {
	width: 25%;
	height: 100%;
	float: left;
	display: block;
}

#slides .slide_1,
#slides .slide_2,
#slides .slide_3 {
	background: #10111F;
}

.slide_content {
	position: relative;
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 5% auto;
}

.text_slider {
	width: 40%;
}

.text_slider p{
	margin-bottom: 40px;
	text-align: justify;
	color: #C69155;
	font-size: calc(11px + 11 * (100vw / 1900));
	font-family: 'Roboto', sans-serif;
}

.text_slider h2{
	margin-bottom: 20px;
	text-align: left;
	color: #C69155;
	font-size: calc(12px + 18 * (100vw / 1900));
	font-family: 'Rubik', sans-serif;
}

.text_slider ul li {
	color: #C69155;
	font-size: calc(10px + 10 * (100vw / 1900));
	font-family: 'Roboto', sans-serif;
}

.text_slider ul li:not(:last-child) {
	margin-bottom: 10px;
}

.image_slider {
	width: 40%;
	padding: 5px;
	border: 1px solid #C69155;
}

.image_slider img{
	width: 100%;
	height: 100%;
}

#controls {
	position: relative;
	width: 100%;
	z-index: 3;
}

#controls label {
	width: 50px;
	height: 50px;
	display: none;
	opacity: .4;
	transition: opacity 0.2s ease-out;
}

#bullets {
	margin: 10px;
	text-align: center;
}

#bullets label {
	width: 100px;
	height: 10px;
	display: inline-block;
	margin: 0 10px;
	border-radius: 10px;
	background: #C69155;
}

#bullets label:hover {
	background: #10111F;
	opacity: 0.7;
}
/* цвет активной кнопки*/
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3) {
	background: #10111F;
}

/* Параметры блока filter*/
.conteiner_filter {
	position: relative;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

			/* Параметры блока size*/
			:root {
				--button_size-color1: #C69155;
				--button_size-background1: #10111F;
				--button_size-border1: 2px solid #10111F;
				--button_size-color2: #C69155;
				--button_size-background2: none;
				--button_size-border2: 2px solid #C69155;
				--button_size-color3: #C69155;
				--button_size-background3: none;
				--button_size-border3: 2px solid #C69155;

				--width-thumb: 320px;
				--height-thumb: 440px;
				--margin-thumb: 30px 50px; 
				--background-thumb: none;
				--display-thumb-box: block;

				--thumb-hover-height: 500px;
				--box-shadow-thumb-hover: 0px -0px 20px #10111F;

				--heater_img-width: 300px;
				--heater_img-height: 300px;

				--width-box_text_product: 280px;
				--height-box_text_product-h4: 80px;
				--font-size-box_text_product-h4: calc(14px + 4 * (100vw / 1900));
				--text-align_product-h4:center; 

				--price-line-height: 0.5;
				--price-transform: translateY(-40px);
				--price-opacity: 0;
				--price-visibility: hidden;
			}

			:root[data-theme='size1'] {
				--button_size-color1: #C69155;
				--button_size-background1: #10111F;
				--button_size-border1: 2px solid #10111F;
				--button_size-color2: #C69155;
				--button_size-background2: none;
				--button_size-border2: 2px solid #C69155;
				--button_size-color3: #C69155;
				--button_size-background3: none;
				--button_size-border3: 2px solid #C69155;

				--width-thumb: 320px;
				--height-thumb: 440px;
				--margin-thumb: 30px 50px;
				--background-thumb: none;
				--display-thumb-box: block;

				--thumb-hover-height: 500px;
				--box-shadow-thumb-hover: 0px -0px 20px #10111F;

				--heater_img-width: 300px;
				--heater_img-height: 300px;

				--width-box_text_product: 280px;
				--height-box_text_product-h4: 80px;
				--font-size-box_text_product-h4: 18px;
				--text-align_product-h4:center; 

				--price-line-height: 0.5;
				--price-transform: translateY(-40px);
				--price-opacity: 0;
				--price-visibility: hidden;
			}

			:root[data-theme='size2'] {
				--button_size-color1: #C69155;
				--button_size-background1: none;
				--button_size-border1: 2px solid #C69155;
				--button_size-color2: #C69155;
				--button_size-background2: #10111F;
				--button_size-border2: 2px solid #10111F;
				--button_size-color3: #C69155;
				--button_size-background3: none;
				--button_size-border3: 2px solid #C69155;

				--width-thumb: 300px;
				--height-thumb: 420px;
				--margin-thumb: 30px 10px;
				--background-thumb: none;
				--display-thumb-box: block;

				--thumb-hover-height: 500px;
				--box-shadow-thumb-hover: 0px -0px 20px #10111F;

				--heater_img-width: 280px;
				--heater_img-height: 300px;

				--width-box_text_product: 260px;
				--height-box_text_product-h4: 80px;
				--font-size-box_text_product-h4: 16px;
				--text-align_product-h4:center; 

				--price-line-height: 0.5;
				--price-transform: translateY(-40px);
				--price-opacity: 0;
				--price-visibility: hidden;
			}

			:root[data-theme='size3'] {
				--button_size-color1: #C69155;
				--button_size-background1: none;
				--button_size-border1: 2px solid #10111F;
				--button_size-color2: #C69155;
				--button_size-background2: none;
				--button_size-border2: 2px solid #10111F;
				--button_size-color3: #C69155;
				--button_size-background3: #10111F;
				--button_size-border3: 2px solid #10111F;

				--width-thumb: 700px;
				--height-thumb: 320px;
				--margin-thumb: 20px 1px; 
				--background-thumb: #10111F;
				--display-thumb-box: flex;

				--thumb-hover-height: 320px;
				--box-shadow-thumb-hover: 10px 10px 10px #C69155,
										12px 12px 20px #C69155,
										-5px -5px 10px #10111F;

				--heater_img-width: 350px;
				--heater_img-height: 300px;

				--width-box_text_product: 350px;
				--height-box_text_product-h4: 170px;
				--font-size-box_text_product-h4: 22px;
				--text-align_product-h4:left; 

				--price-line-height: 1.5;
				--price-transform: translateY(0);
				--price-opacity: 1;
				--price-visibility: visible;
			}

			.box_size {
				display: none;
			}

			.navigation_size {
				position: relative;
				display: flex;
				align-items: center;
			}

			.button_size {
				margin-right: 30px;
				cursor: pointer;
			}

			.button_size .fas {
				padding: 15px;
				font-size: calc(15px + 15 * (100vw / 1900));
			}

			.button_size:hover .fas {
				background: #10111F;
				border: 2px solid #10111F;
			}

			.size_background1 .fas{
				color: var(--button_size-color1);
				background: var(--button_size-background1);
				border: var(--button_size-border1);
			}

			.size_background2 .fas {
				color: var(--button_size-color2);
				background: var(--button_size-background2);
				border: var(--button_size-border2);
			}

			.size_background3 .fas {
				color: var(--button_size-color3);
				background: var(--button_size-background3);
				border: var(--button_size-border3);
			}

.conteiner_filter li{
	list-style: none;
	display: flex;
	text-transform: uppercase;
	font-size: calc(12px + 8 * (100vw / 1900));
	color: #C69155;
	padding: 20px;
	font-family: 'Rubik', sans-serif;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none; 
}

.conteiner_filter li:not(:last-child) {
	margin-right: -30%;
}

.conteiner_filter li:hover, .active {
	background: #10111F;
}

section {
	width: 90%;
	margin: 10px 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.thumb {
	position: relative;
	width: var(--width-thumb);
	height: var(--height-thumb);
	margin: var(--margin-thumb);
	box-shadow: 0px 0px 5px #10111F;
	border-radius: 10px;
	background: var(--background-thumb);
}

.thumb_box {
	position: relative;
	display: var(--display-thumb-box);
}

.thumb:hover {
	height: var(--thumb-hover-height);
	background: #10111F;
	box-shadow: var(--box-shadow-thumb-hover);
	transition: 1s;
}

.thumb a {
	text-decoration: none;
}

.heater_img {
	width: var(--heater_img-width);
	height: var(--heater_img-height);
	margin: 10px;
}

.heater_img img {
	width: 100%;
	height: 100%;
}

.box_text_product {
	width: var(--width-box_text_product);
	margin: 10px 20px;
}

.box_text_product h4 {
	height: var(--height-box_text_product-h4);
	font-size: var(--font-size-box_text_product-h4);
	color: #C69155;
	text-align: var(--text-align_product-h4);
	font-family: 'Rubik', sans-serif;
}

.price {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: var(--price-line-height);
	transition: 1s;
	transform: var(--price-transform);
	opacity: var(--price-opacity);
	visibility: var(--price-visibility);
}

.price h2 {
	font-size: calc(15px + 10 * (100vw / 1900));
	color:#C69155;
	font-family: 'Roboto', sans-serif;

	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none; 
}

.price .fas {
	font-size: calc(15px + 10 * (100vw / 1900));
	color:#C69155;
}

.price .fas:hover {
	color: #F2E185;
}

.thumb:hover .price {
	transform: translate(0);
	opacity: 1;
	visibility: visible;
}

/* Параметры блока с вопросами*/
.conteiner_questions {
	position: fixed;
	z-index: 100;
}

.box_question, #question{
    display:none;
}

#question:checked ~ .box_question{
	position: fixed;
    display: block;
    transform: translateY(-2%);
}

#question:checked ~ .button_question {
	position: fixed;
	transform: translateY(200%);
}

.button_question {
	position: fixed;
	right: 20px;
	bottom: 3%;
	transition: 2s;
	transform: translateY(0px);
	cursor: pointer;
}

.question_check {
	height: 50px;
	display: flex;
	align-items: center;
	padding: 5px 15px;
	border-radius: 30px;
	background: #C69155;
}

.question_check .fas {
	font-size: calc(25px + 5 * (100vw / 1900));
	color: #10111F;
}

.question_text {
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none; 
	display: none;
	font-size: calc(16px + 4 * (100vw / 1900));
	color: #10111F;
}

.question_check:hover .question_text {
	display: block;
	margin-right: 10px;
}

.box_question {
	position: fixed;
	display: none;
	width: 20%;
	bottom: 5%;
	right: 2%;
	border-radius: 10px;
	border: 3px solid #F2E185;
	background: #10111F;
}

.close_question {
	position: fixed;
	top: 2%;
	right: 4%;
}

.close_question .fas {
	font-size: 25px;
	color: #F2E185;
	cursor: pointer;
}

.info_question form h1 {
	position: relative;
	margin: 10% 5% 25% 5%;
	text-align: center;
	font-size: 20px;
	color: #F2E185;
}

.inputBox {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 10% 0;
}

.W50{
	width: 70%;
}

.inputBox textarea{
	width: 100% !important; 
	border: none;
	border-bottom: 1px solid #F2E185;
	padding: 5px 0;
	font-size: 20px;
	color: #F2E185;
	resize: none;
	background: none;
	font-family: 'Old Standard TT', serif;
}

.inputBox textarea:focus ~ span {
	transform: translateY(-25px);
	letter-spacing: 1px;
	color: #F8B801;
}

.inputBox textarea:focus {
	outline: none;
}

.inputBox textarea:valid ~ span {
	transform: translateY(-25px);
	letter-spacing: 1px;
	color: #F8B801;
}

.inputBox input {
	width: 100% !important; 
	border: none;
	border-bottom: 1px solid #F2E185;
	color: #F2E185;
	padding: 5px 0;
	font-size: 20px;
	background: none;
	font-family: 'Old Standard TT', serif;
}

.inputBox span{
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 20px;
	color: #F2E185;
	transition: 0.5s;
	pointer-events: none;
}

.inputBox input:focus ~ span {
	transform: translateY(-25px);
	letter-spacing: 1px;
	color: #F8B801;
}

.inputBox input:focus {
	outline: none;
}

.inputBox input:valid ~ span {
	transform: translateY(-25px);
	letter-spacing: 1px;
	color: #F8B801;
}

.btn_question {
	position: relative;
	padding: 1% 10%;
	font-size: 20px;
	color: #F2E185;
	border: 1px solid #F2E185;
	border-radius: 10px;
	background: none;
	cursor: pointer;
	overflow: hidden;
	transition: 1s;
}

.btn_question:hover {
	transition: 1s;
	color: #10111F;
	background: #F2E185;
}

/* Параметры подвала*/
footer {
	position: relative;
	width: 100%;
	z-index: 50;
	background: #10111F;
}

.footer_social {
	display: none;
}

.conteiner_newsletter {
	position: relative;
	width: 100%;
	border-top: 5px solid #C69155;
	border-bottom: 1px solid #C69155;
}

.newsletter {
	position: relative;
	display: flex;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	justify-content: center;
	margin-top: 2%;
	margin-bottom: 2%;
}

.newsletter h1 {
	font-size: calc(15px + 10 * (100vw / 1900));
	color: #C69155;
	font-family: 'Rubik', sans-serif;
	margin-right: 10%;
}

.newsletter input {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
}

.newsletter input[type="text"] {
	width: 30%;
	padding: 5px 30px;
	background: white;
	color: #C69155;
	font-size: calc(15px + 5 * (100vw / 1900));
	border: 3px solid #C69155;
	outline: none;
}

.newsletter input[type="submit"] {
	position: relative;
	left: -5px;
	background: #C69155;
	color: white;
	font-size: calc(15px + 5 * (100vw / 1900));
	padding: 5px 30px;
	border: 3px solid #C69155;
	outline: none;
	cursor: pointer;
}

.newsletter input[type="submit"]:hover {
	background: #F4CB93;
}

.conteiner_f_contact {
	position: relative;
	width: 60%;
	display: flex;
	justify-content: space-between;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2%;
}

.information {
	margin: 0 10px;
}

.c_h1 {
	position: relative;
	margin-bottom: 40px;
	font-size: calc(10px + 20 * (100vw / 1900));
	color: #C69155;
	font-family: 'Rubik', sans-serif;
	padding-bottom: 10px;
}

.c_h1::after {
	position: absolute;
	content: "";
	width: 30%;
	height: 2px;
	left: 0;
	bottom: 0%;
	background: #C69155;
}

.list_footer li {
	list-style-type: none;
	display: flex;
	align-items: center;
}

.list_footer li:not(:last-child) {
	margin-bottom: 10px;
}

.list_footer .fas, .far  {
	font-size: calc(8px + 12 * (100vw / 1900));
	color: #F4CB93;
	margin-right: 15px;
}

.list_footer li a{
	text-decoration: none;
	font-size: calc(8px + 10 * (100vw / 1900));
	color: #F4CB93;
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
}

.list_footer li a:hover {
	color: #C69155;
}

.list_footer li p{
	font-size: calc(8px + 7 * (100vw / 1900));
	color: #F4CB93;
	font-family: 'Open Sans', sans-serif;
}

.list_footer li label {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Параметры окна доставки*/
	#delivery:checked ~ .conteiner_delivery {
		display: block;
	} 

	#delivery {
		display: none;
	}

	.conteiner_delivery {
		position: fixed;
		display: none;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 55%;
		border: 3px solid #C69155;
		background: #10111F;
		z-index: 999;
	}

	.close_delivery {
		position: absolute;
		top: 3%;
		right: 2%;
		z-index: 999;
	}

	.close_delivery .fas {
		font-size: calc(10px + 20 * (100vw / 1900));
		color: #C69155;
		cursor: pointer;
	}

	.box_delivery {
		position: relative;
		margin: 1%;
		display: flex;
	}

	.info_delivery {
		width: 40%;
		margin: 1% 10%;
	}

	.info_delivery h3 {
		text-align: center;
		padding-bottom: 20px;
		border-bottom: 1px solid #C69155;
		font-size: calc(14px + 16 * (100vw / 1900));
		color: #C69155;
		font-family: 'Rubik', sans-serif;
	}

	.heading_delivery {
		position: relative;
		display: flex;
		align-items: center;
	}

	.heading_delivery .fas {
		margin-right: 25px;
		font-size: calc(13px + 7 * (100vw / 1900));
		color: #C69155;
	}

	.heading_delivery h4 {
		font-size: calc(13px + 9 * (100vw / 1900));
		color: #C69155;
		font-family: 'Rubik', sans-serif;
	}

	.info_delivery p {
		text-align: justify;
		font-size: calc(12px + 6 * (100vw / 1900));
		color: #C69155;
		font-family: 'Roboto', sans-serif;

	}

/* Параметры окна сертификаты*/
	#certificates:checked ~ .conteiner_certificates {
		display: block;
	} 

	#certificates {
		display: none;
	}

	.conteiner_certificates {
		position: fixed;
		display: none;
		top: 55%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 80%;
		height: 65%;
		overflow-y: scroll;
		border: 3px solid #C69155;
		background: #10111F;
		z-index: 999;
	}

	.close_certificates {
		position: absolute;
		top: 3%;
		right: 1%;
		z-index: 999;
	}

	.close_certificates .fas {
		font-size: calc(10px + 20 * (100vw / 1900));
		color: #C69155;
		cursor: pointer;
	}

	.box_certificates {
		margin: 1% 5%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	.info_certificates {
		width: 400px;
		height: 600px;
		box-sizing: border-box;
		margin: 1% 2%;
		overflow: hidden;
	}

	.info_certificates img {
		width: 100%;
		height: 100%;
	}


/* Параметры адаптивной версии*/
@media (max-width: 1700px) {
	/* Параметры меню*/
	.figure {
		width: 22%;
	}

	.border {
		width: 23%;
	}

	.conteiner_menu_1 {
		left: 8%;
	}

	.conteiner_menu_2 {
		right: 8%;
	}
}

/* Параметры адаптивной версии*/
@media (max-width: 1600px) {
	/* Параметры блока filter*/
	.conteiner_filter li:not(:last-child) {
		margin-right: -20%;
	}

	/* Параметры блока size*/
	:root[data-theme='size3'] {
		--width-thumb: 600px;

		--heater_img-width: 320px;
	}
}

/* Параметры адаптивной версии*/
@media (max-width: 1500px) {
	/* Параметры меню*/
	.logo {
		width: 40%;
		height: 50%;
	}

	/* Параметры блока slider*/
	.slide_content {
		width: 90%;
		margin: 3% auto;
	}

	/* Параметры блока size*/

}

/* Параметры адаптивной версии*/
@media (max-width: 1400px) {
	.conteiner_filter li:not(:last-child) {
		margin-right: -15%;
	}

	/* Параметры блока size*/
	:root {
		--margin-thumb: 30px ; 
	}

	:root[data-theme='size1'] {
		--margin-thumb: 30px;
	}

	:root[data-theme='size2'] {
		--margin-thumb: 30px 5px;
	}

	section {
		width: 100%;
		margin: 10px 0;
	}
}

/* Параметры адаптивной версии*/
@media (max-width: 1300px) {
	/* Параметры меню*/
	.figure {
		width: 25%;
		height: 190px;
	}

	.border {
		width: 26%;
		height: 200px;
	}

	.conteiner_menu_1 {
		left: 6%;
	}

	.conteiner_menu_2 {
		right: 6%;
	}

	/* Параметры блока filter*/
	.conteiner_filter {
		width: 90%;
		margin-top: 150px;
	}

	.button_size .fas {
		padding: 10px;
	}

	.conteiner_filter li{
		padding: 15px;
	}

	.conteiner_filter li:not(:last-child) {
		margin-right: -10%;
	}

	/* Параметры блока с вопросами*/
	.button_question {
		right: 15px;
	}

	.box_question {
		width: 30%;
	}

	/* Параметры подвала*/
	.newsletter {
		width: 90%;
		display: block;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.newsletter h1 {
		margin-right: 0px;
	}

	.newsletter input[type="text"] {
		width: 50%;
		padding: 5px 25px;
		border: 2px solid #C69155;
	}

	.newsletter input[type="submit"] {
		padding: 5px 25px;
		border: 2px solid #C69155;
	}
}

/* Параметры адаптивной версии*/
@media (max-width: 1200px) {
	/* Параметры блока size*/
	:root[data-theme='size3'] {
		--width-thumb: 700px;
		--height-thumb: 250px;

		--heater_img-width: 280px;
		--heater_img-height: 230px;

		--width-box_text_product: 400px;
		--height-box_text_product-h4: 120px;
		--font-size-box_text_product-h4: 18px;
	}
}

/* Параметры адаптивной версии*/
@media (max-width: 1100px) {
	/* Параметры меню*/
	.figure {
		width: 26%;
		height: 190px;
	}

	.border {
		width: 27%;
		height: 200px;
	}

	.conteiner_menu_1 {
		left: 5%;
	}

	.conteiner_menu_2 {
		right: 5%;
	}

	.social_conteiner {
		left: 4%;
	}

	.social_conteiner li {
		margin: 15px 20px;
	}

	.social_conteiner .fab {
		font-size: calc(18px + (7 + 7 * 0.7) * ((100vw - 1100px) / 1900));
	}

	.social_conteiner .fab:hover {
		transform: scale(1.1) rotate(1turn);
	}

	.icon .fas {
		font-size: calc(20px + (5 + 5 * 0.7) * ((100vw - 1100px) / 1900));
	}

	.icon .fas:hover {
		transform: scale(1.1) rotate(1turn);
	}

	.menu li:not(:last-child) {
		margin-right: 35px;
	}

	.menu a {
		font-size: calc(20px + (5 + 5 * 0.7) * ((100vw - 1100px) / 1900));
	}

	/* Параметры блока slider*/
	#slides {
		border-bottom: 3px solid #C69155;
	}	

	.slide_content {
		margin: 5% auto;
	}

	.text_slider {
		width: 55%;
	}

	.image_slider {
		width: 35%;
	}

	/* Параметры блока size*/
	.button_size {
		margin-right: 20px;
	}

	/* Параметры блока с вопросами*/
	.question_check {
		height: 40px;
		padding: 8px 15px;;
	}

	.question_check .fas {
		font-size: calc(25px + (5 + 5 * 0.7) * ((100vw - 1100px) / 1900));
	}

	.question_text {
		font-size: calc(16px + (4 + 4 * 0.7) * ((100vw - 1100px) / 1900));
	}

	.box_question {
		width: 35%;
	}

	/* Параметры подвала*/
	.newsletter input[type="text"] {
		width: 70%;
	}

	.conteiner_f_contact {
		width: 90%;
	}
}

/* Параметры адаптивной версии*/
@media (max-width: 1000px) {
	/* Параметры блока filter*/
	.conteiner_filter li{
		padding: 10px;
	}

	.conteiner_filter li:not(:last-child) {
		margin-right: -5%;
	}

	/* Параметры блока size*/
	.button_size .fas {
		font-size: calc(15px + (15 + 15 * 0.7) * ((100vw - 1000px) / 1900));
	}

	/* Параметры подвала*/
	.c_h1 {
		margin-bottom: 15px;
	}

	.list_footer .fas, .far  {
		margin-right: 5px;
	}

		/* Параметры окна доставки*/
		.close_delivery {
			top: 2%;
		}		
		.info_delivery h3 {
			padding-bottom: 10px;
		}

		.heading_delivery .fas {
			margin-right: 30px;
		}
}

/* Параметры адаптивной версии*/
@media (max-width: 850px) {
	/*Отключение анимации*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

	#enscart_wrapper {
		display: none;
	}

	/* Параметры меню*/
	.header_new,
	.conteiner_menu_1,
	.conteiner_menu_2 {
		display: none;
	}

	/* Параметры мобильного меню*/
	body.lock {
		overflow: hidden;
	}

	.mobile_menu {
		display: block;
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		background: #10111F;
		border-bottom: 2px solid #C69155;
		z-index: 200;
	}

	.conteiner_mobile_menu {
		width: 80%;
		margin: 2% auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	#toggle_menu:checked + .menu_header {
		display: block;
		animation-name: open_menu;
  		animation-duration: 0.8s;
  		animation-iteration-count: 1;
  		animation-direction: normal;
  		animation-timing-function: ease-out;
  		animation-fill-mode: forwards;
  		animation-delay: 0s;
	}

	@keyframes open_menu {
  		0% {
    		display: block;
   		 	opacity: 0;
    		visibility: hidden;
  		}
  		100% {
    		display: block;
    		opacity: 1;
    		visibility: visible;
  		}
	}	

	.conteiner_mobile_menu input[type="checkbox"] {
  		display: none;
	}

	.header_burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
	}

	.header_burger span {
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		top: 9px;
		background-color: #C69155;
		transition: all 0.3s ease 0s;
	}

	.header_burger:after,
	.header_burger:before {
		position: absolute;
		content: '';
		width: 100%;
		height: 2px;
		left: 0;
		background-color: #C69155;
		transition: all 0.3s ease 0s;
	}

	.header_burger:after {
		top: 0;
	}

	.header_burger:before {
		bottom: 0;
	}

	.header_burger.active span {
		transform: scale(0);
	}

	.header_burger.active:after  {
		transform: rotate(45deg);
		top: 9px;
	}

	.header_burger.active:before  {
		transform: rotate(-45deg);
		bottom: 9px;
	}

	.menu_header {
		position: absolute;
		left: 0;
		top: 99%;
		width: 100%;
		display: none;
		text-align: center;
		border-top: 2px solid #C69155;
		border-bottom: 2px solid #C69155;
		background: rgba(16, 17, 31, 0.9);
		overflow: auto;
	}

	.menu_header a {
		display: block;
		margin: 30px auto;
		text-decoration: none;
		text-transform: uppercase;
		color: #C69155;
		font-family: 'Rubik', sans-serif;
		font-size: calc(12px + 6 * (100vw / 850));
		text-shadow: 1px 1px 2px #000000;
	}

	.conteiner_mobile_menu .fas {
		color: #C69155;
		font-size: calc(15px + 10 * (100vw / 850));
	}

	.mobile_img {
		position: absolute;
		width: 10%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.mobile_img p {
		margin: 0 2px;
		font-size: calc(15px + 10 * (100vw / 850));
		color: #C69155;
		font-family: 'Rubik', sans-serif;
	}

	.mobile_img img {
		max-width: 100%;
	}

	/* Параметры блока slider*/
	.slider_conteiner {
		top: 50px;
		margin: 0 0 20px 0;
	}

	.slide_content {
		width: 90%;
		display: block;
		justify-content: center;
		margin: 30px auto;
	}

	.text_slider {
		width: 90%;
		margin: 0 auto;
	}

	.image_slider {
		display: none;
	}

	/* Параметры блока filter*/
	.conteiner_filter {
		width: 100%;
		margin-top: 100px;
		margin-bottom: 10px;
		display: block;
	}

	.conteiner_filter  li{
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
		padding: 20px 0;
	}

	.filter_size {
		display: none;
	}

	/* Параметры блока size*/
			:root {
				--width-thumb: 260px;
				--height-thumb: 400px;
				--margin-thumb: 20px 10px; 
				--background-thumb: #10111F;

				--heater_img-width: 240px;
				--heater_img-height: 240px;

				--thumb-hover-height: 400px;

				--width-box_text_product: 220px;
				--height-box_text_product-h4: 60px;

				--price-line-height: 0;
				--price-transform: translateY(0);
				--price-opacity: 1;
				--price-visibility: visible;
			}

	.thumb {
		box-shadow: 0px 0px 15px #10111F;
	}

	.thumb:hover {
		display: none;
	}

	/* Параметры блока с вопросами*/
	.button_question {
		right: 15px;
		bottom: 2%;
		transition: 1s;
	}

	.question_check {
		height: none;
		padding: 5px 12px;
		border-radius: none;
	}

	.question_check .fas {
		font-size: calc(15px + 10 * (100vw / 850));
	}

	.question_check:hover .question_text {
		display: none;
	}

	.box_question {
		width: 50%;	
		top: 20%;
		left: 25%;
		transform: translate(-50%, -50%);
		bottom: auto;
		right: auto;
		border: 2px solid #F2E185;
	}	

	.close_question .fas {
		font-size: calc(15px + 5 * (100vw / 850));
	}

	.info_question form h1 {
		font-size: calc(13px + 7 * (100vw / 850));
	}

	.inputBox textarea{
		font-size: calc(12px + 8 * (100vw / 850));
	}

	.inputBox input {
		font-size: calc(12px + 8 * (100vw / 850));
	}

	.inputBox span{
		font-size: calc(12px + 8 * (100vw / 850));
	}

	.btn_question {
		font-size: calc(12px + 8 * (100vw / 850));
	}

	.btn_question:hover {
		display: none;
	}

	/* Параметры подвала*/
		.conteiner_f_contact {
		width: 60%;
	}

	.footer_social {
		display: block;
		width: 100%;
		border-top: 1px solid #C69155;
		border-bottom: 1px solid #C69155;
	}

	.menu_social_mobile {
		position: relative;
		margin: 5px auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.menu_social_mobile li {
		list-style-type: none;
	}

	.menu_social_mobile .fab {
		margin: 10px 20px;
		font-size: calc(15px + 5 * (100vw / 850));
		color: #C69155;
	}

		/* Параметры окна доставки*/
		.conteiner_delivery {
			width: 70%;
			overflow: auto;
		}

		.box_delivery {
			margin: 10% 1%;
			display: block;
			justify-content: center;
			align-items: center;
		}

		.info_delivery {
			width: 90%;
			margin: 5%;
		}

		/* Параметры окна сертификаты*/
		.conteiner_certificates {
			width: 60%;
			height: 70%;
		}

		.info_certificates {
			width: 200px;
			height: 300px;
		}

		.information_foto {
			display: none;
		}
}

/* Параметры адаптивной версии*/
@media (max-width: 700px) {
	/* Параметры блока slider*/
	.slider_conteiner {
		top: 40px;
	}

	/* Параметры блока size*/
	:root {
		--margin-thumb: 20px 5px; 
	}
}

/* Параметры адаптивной версии*/
@media (max-width: 600px) {
	/* Параметры мобильного меню*/
	.conteiner_mobile_menu {
		width: 90%;
	}

	/* Параметры блока slider*/
	.text_slider {
		width: 100%;
	}

	/* Параметры блока size*/
	:root {
		--width-thumb: 260px;
		--height-thumb: 370px;

		--heater_img-height: 220px;

		--thumb-hover-height: 370px;
	}

	/* Параметры подвала*/
		.conteiner_f_contact {
		width: 70%;
	}

		/* Параметры окна доставки*/
		.heading_delivery {
			margin-bottom: -20px;
		}

		.info_delivery h3 {
			margin-bottom: -5px;
		}
}

/* Параметры адаптивной версии*/
@media (max-width: 500px) {
	/* Параметры мобильного меню*/
	.conteiner_mobile_menu {
		margin: 4% auto;
	}

	.header_burger span {
		width: 80%;
	}

	.header_burger:after,
	.header_burger:before {
		width: 80%;
	}

	/* Параметры блока slider*/
	#bullets label {
		width: 70px;
	}

	/* Параметры блока с вопросами*/
	.question_check {
		padding: 5px 15px;
	}

	.box_question {
		width: 70%;	
		top: 15%;
		left: 15%;
	}

	/* Параметры подвала*/
	.newsletter input[type="text"] {
		width: 50%;
	}

	.conteiner_f_contact {
		width: 80%;
	}

		/* Параметры окна доставки*/
		.conteiner_delivery {
			width: 90%;
		}

		.box_delivery {
			margin: 5px;
		}

		.info_delivery {
			width: 100%;
			margin: 1px;
		}

		.info_delivery h3 {
			padding-bottom: 2px;
		}

		/* Параметры окна сертификаты*/
		.conteiner_certificates {
			width: 80%;
		}
}

/* Параметры адаптивной версии*/
@media (max-width: 320px) {
	/* Параметры мобильного меню*/
	.header_burger span {
		width: 70%;
	}

	.header_burger:after,
	.header_burger:before {
		width: 70%;
	}

	.menu_header a {
		font-size: calc(12px + (6 + 6 * 0.7) * ((100vw - 320px) / 1900));
	}

	.conteiner_mobile_menu .fas {
		font-size: calc(15px + (10 + 10 * 0.7) * ((100vw - 320px) / 1900));
	}

	.mobile_img p {
		font-size: calc(15px + (10 + 10 * 0.7) * ((100vw - 320px) / 1900));
	}

	/* Параметры блока slider*/
	.text_slider p{
		margin-bottom: 10px;
		font-size: calc(11px + (11 + 11 * 0.7) * ((100vw - 320px) / 1900));
	}

	.text_slider h2{
		font-size: calc(12px + (18 + 18 * 0.7) * ((100vw - 320px) / 1900));
	}

	.text_slider ul li {
		font-size: calc(10px + (10 + 10 * 0.7) * ((100vw - 320px) / 1900));
	}

	/* Параметры блока filter*/
	.conteiner_filter ul li{
		font-size: calc(12px + (8 + 8 * 0.7) * ((100vw - 320px) / 1900));
	}

	/* Параметры блока size*/
	:root {
		--font-size-box_text_product-h4: calc(14px + (4 + 4 * 0.7) * ((100vw - 320px) / 1900));
	}

	/* Параметры блока списка товаров*/
	.price h2 {
		font-size: calc(15px + (10 + 10 * 0.7) * ((100vw - 320px) / 1900));
	}

	.price .fas {
		font-size: calc(15px + (10 + 10 * 0.7) * ((100vw - 320px) / 1900));
	}

	/* Параметры блока с вопросами*/
	.question_check {
		padding: 2px 15px;
	}

	.question_check .fas {
		font-size: calc(15px + (10 + 10 * 0.7) * ((100vw - 320px) / 1900));
	}

	.close_question .fas {
		font-size: calc(15px + (5 + 5 * 0.7) * ((100vw - 320px) / 1900));
	}

	.info_question form h1 {
		font-size: calc(13px + (7 + 7 * 0.7) * ((100vw - 320px) / 1900));
	}

	.inputBox textarea{
		font-size: calc(12px + (8 + 8 * 0.7) * ((100vw - 320px) / 1900));
	}

	.inputBox input {
		font-size: calc(12px + (8 + 8 * 0.7) * ((100vw - 320px) / 1900));
	}

	.inputBox span{
		font-size: calc(12px + (8 + 8 * 0.7) * ((100vw - 320px) / 1900));
	}

	.btn_question {
		font-size: calc(12px + (8 + 8 * 0.7) * ((100vw - 320px) / 1900));
	}

	/* Параметры подвала*/
	.newsletter h1 {
		font-size: calc(15px + (10 + 10 * 0.7) * ((100vw - 320px) / 1900));
	}

	.newsletter input[type="text"] {
		font-size: calc(15px + (5 + 5 * 0.7) * ((100vw - 320px) / 1900));
	}

	.newsletter input[type="submit"] {
		font-size: calc(15px + (5 + 5 * 0.7) * ((100vw - 320px) / 1900));
	}

	.c_h1 {
		font-size: calc(10px + (20 + 20 * 0.7) * ((100vw - 320px) / 1900));
	}

	.list_footer .fas, .far  {
		font-size: calc(8px + (12 + 12 * 0.7) * ((100vw - 320px) / 1900));
	}

	.list_footer li a{
		font-size: calc(8px + (10 + 10 * 0.7) * ((100vw - 320px) / 1900));;
	}

	.list_footer li p{
		font-size: calc(8px + (7 + 7 * 0.7) * ((100vw - 320px) / 1900));
	}

	.menu_social_mobile .fab {
		font-size: calc(15px + (5 + 5 * 0.7) * ((100vw - 320px) / 1900));
	}

		/* Параметры окна доставки*/
		.close_delivery .fas {
			font-size: calc(10px + (20 + 20 * 0.7) * ((100vw - 320px) / 1900));
		}

		.info_delivery h3 {
			padding-bottom: 10px;
			font-size: calc(14px + (16 + 16 * 0.7) * ((100vw - 320px) / 1900));
		}

		.heading_delivery .fas {
			margin-right: 15px;
			font-size: calc(13px + (7 + 7 * 0.7) * ((100vw - 320px) / 1900));
		}

		.heading_delivery h4 {
			font-size: calc(13px + (9 + 9 * 0.7) * ((100vw - 320px) / 1900));
		}

		.info_delivery p {
			font-size: calc(12px + (6 + 6 * 0.7) * ((100vw - 320px) / 1900));
		}

		/* Параметры окна сертификаты*/
		.close_certificates .fas {
			font-size: calc(10px + (20 + 20 * 0.7) * ((100vw - 320px) / 1900));
		}

		.info_certificates {
			width: 150px;
			height: 250px;
		}
}